#marca {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 5rem;
  height: 4rem;
  border-radius: .75rem;

  &:hover{
    opacity: .8;
    filter: drop-shadow(.1rem .1rem 1rem var(--brandColor));
    transition: opacity .5s;

    background-color: var(--brandColor);
  }
  
  &img {
    width: 1rem;
  }

}