* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Tipografia */
  --ff: 'Stack Sans Notch';

  /* Cores */
  --brandColor: rgb(201, 114, 0);
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: black;

  font-family: var(--ff);
  color: var(--brandColor);
}