header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;

  & img {
    width: 180px;
    height: auto;
  }

}

nav {
  display: flex;
  gap: 2.5rem;

  & a {
    font-size: 1.25rem;
  
    color: rgb(201, 114, 0);
  
    text-decoration: none;
  }

  & a:hover{
    opacity: .5;
    filter: drop-shadow(.1rem .1rem 1rem var(--brandColor));
    transition: opacity .5s;
  }
}

#main-img{
  width: 100vw;
  height: auto;
  aspect-ratio: 3/1;
  background-image: url(assets/main.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

@media (width < 80em) {
  
}