main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  animation: image-appear linear backwards;
  animation-timeline: view();
  animation-range: 30px 200px;

  &[data-delay] {
    animation-range: 150px 350px;
  }
}

.frase1 {
  font-size: 4rem;
  margin-block: 2rem;
}

#veiculos {
  width: 70rem;
  display: flex;
  flex-wrap: wrap;

  gap: .5rem;
  justify-content: center;
  align-items: center;

  margin-bottom: 5rem;
}

.cardcars figcaption img {
    background-image: url("assets/A7Sportback1.png");
}

fieldset {
  display: flex;
  gap: 3rem;

  font-size: 2rem;

  border: 1px solid var(--brandColor);
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 5rem;

  & label {
    font-size: 3rem;
  }

  & input {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    border-radius: .5rem;
    width: 10rem;
    min-width: 7rem;

    padding: .5rem;

    margin-inline: auto;
  }

  & select {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    border-radius: .5rem;
    width: 10rem;
    min-width: 7rem;

    margin-inline: auto;
  }
}

@keyframes image-appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
  }
}

/* Container geral */
.filtros-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 25px;
    border: 2px solid #ff8a00;
    border-radius: 16px;
    background: #0a0a0a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
/*lucas
/* Cada bloco (Modelo, Ano, Preço, etc) */
.filtro-item {
    display: flex;
    flex-direction: column;
    min-width: 180px;
}

/* Títulos */
.filtro-item label {
    font-size: 26px;
    font-weight: bold;
    color: #ff8a00;
    margin-bottom: 8px;
}

/* Inputs e Selects */
.filtro-item select,
.filtro-item input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 2px solid #ff8a00;
    background: #1a1a1a;
    color: #fff;
    font-size: 18px;
    transition: 0.2s;
}

.filtro-item select:focus,
.filtro-item input:focus {
    border-color: #ffa63a;
    box-shadow: 0 0 10px rgba(255, 138, 0, 0.6);
    outline: none;
}
